*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5% 0%;
    row-gap: 2%;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.digital_clock{
    width: 22vw;
    height: 10vw;
    background-color: gray;
   
}

.lcd{
    width: 85%;
    height: 80%;
    background-color: darkslategray;
    font-size: 3.5vw;
    color: lawngreen;
}


.clock_container{
    width: 30vw;
    height: 30vw;
    background-color: lightslategray;
    border-radius: 25%;
    position: relative;
}

.circle{
    width: 27vw;
    height: 27vw;
    background-color: midnightblue;
    border-radius: 50%;
    border: 1px solid lavenderblush;
    position: absolute;
}

.center{
    width: 1px;
    height: 1px;
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
}

.seconds_pointer{
    height: 8.5vw;
    background-color: antiquewhite;   
}

.minutes_pointer{
    height: 7vw;
    background-color: yellow; 
}

.hours_pointer{
    height: 5vw;
    background-color: orangered;      
}

.pointer{
    width: 0.2vw;
    rotate: 180deg;
    transform-origin: 0 0; 
    position: absolute;  
}

.pointer_cover{
    width: 0.8vw;
    height: 0.8vw;
    background-color: gray;
    border-radius: 50%;
    inset-block-start: -0.8vh;
    inset-inline-start: -0.3vw;
    position: relative;
}

.number{
    color: white;
    font-size: 3vw;
    font-weight: 700;
    position: absolute;
}

.one{
    inset-inline-start: 69.8%;
    inset-block-start: 8%;
}

.two{
    inset-inline-start: 83%;
    inset-block-start: 24%;
}


.three{
    inset-inline-start: 90%;
    inset-block-start: 45%;
}

.four{
    inset-inline-start: 83%;
    inset-block-start: 65%;
}


.five{
    inset-inline-start: 70%;
    inset-block-start: 80%;
}

.six{
    inset-inline-start: 48%;
    inset-block-start: 87%;
}

.seven{
    inset-inline-start: 26%;
    inset-block-start: 80.1%;
}

.eight{
    inset-inline-start: 12%;
    inset-block-start: 65%;
}



.nine{
    inset-inline-start: 4%;
    inset-block-start: 45%;
}


.ten{
    inset-inline-start: 9%;
    inset-block-start: 24%;
}


.eleven{
    inset-inline-start: 23.5%;
    inset-block-start: 7.5%;
}

.twelve{
    inset-inline-start: 44.5%;
    inset-block-start: 2%;
}